<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" targetFramework="net45" />
  <package id="Fody" version="3.3.5" targetFramework="net452" developmentDependency="true" />
  <package id="GitVersionTask" version="4.0.0-beta0012" targetFramework="net452" developmentDependency="true" />
  <package id="log4net" version="1.2.10" targetFramework="net45" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0-beta2-18618-05" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.SourceLink.Common" version="1.0.0-beta2-18618-05" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.SourceLink.GitHub" version="1.0.0-beta-63127-02" targetFramework="net452" developmentDependency="true" />
  <package id="NServiceBus" version="6.0.0" targetFramework="net452" />
  <package id="NuGet.CommandLine" version="2.8.3" targetFramework="net451" />
  <package id="NuGetPackager" version="0.6.0" targetFramework="net452" developmentDependency="true" />
  <package id="Obsolete.Fody" version="4.4.3" targetFramework="net452" developmentDependency="true" />
  <package id="Particular.CodeRules" version="0.1.1" targetFramework="net452" developmentDependency="true" />
  <package id="Particular.Packaging" version="0.2.1" targetFramework="net452" developmentDependency="true" />
</packages>